{
    "parser_cmd": "python3 /home/inkoziev/mts/parser/parser.py --corpus $input --output $output --grammar /home/inkoziev/mts/parser/tiny_grammar --oformat json --verbosity 0",
    "extractor_cmd": "python3 fact_extractor.py --parsing $input --output $output --rules ./tests/test_rules --verbosity 0"
}    
